imports:
  - { resource: ../common.yml }
  - { resource: form.yml }
  - { resource: handler.yml }

services:
  _defaults:
    public: true

  cdigruttola.module.paypaltracking.core.grid.factory.paypal_carrier_tracking:
    class: 'PrestaShop\PrestaShop\Core\Grid\GridFactory'
    arguments:
      - "@cdigruttola.module.paypaltracking.core.grid.definition.factory.paypal_carrier_tracking"
      - "@cdigruttola.module.paypaltracking.core.grid.data_provider.paypal_carrier_tracking"
      - "@prestashop.core.grid.filter.form_factory"
      - "@prestashop.core.hook.dispatcher"

  cdigruttola.module.paypaltracking.core.grid.definition.factory.paypal_carrier_tracking:
    class: 'cdigruttola\Module\PaypalTracking\Core\Grid\Definition\Factory\PayPalCarrierTrackingGridDefinitionFactory'
    parent: "prestashop.core.grid.definition.factory.abstract_grid_definition"
    public: true

  cdigruttola.module.paypaltracking.core.grid.data_provider.paypal_carrier_tracking:
    class: "%prestashop.core.grid.data.factory.doctrine_grid_data_factory%"
    arguments:
      - "@cdigruttola.module.paypaltracking.core.grid.query_builder.paypal_carrier_tracking"
      - "@prestashop.core.hook.dispatcher"
      - "@prestashop.core.grid.query.doctrine_query_parser"
      - "paypalCarrierTracking"

  cdigruttola.module.paypaltracking.core.grid.query_builder.paypal_carrier_tracking:
    class: 'cdigruttola\Module\PaypalTracking\Core\Grid\Query\PayPalCarrierTrackingQueryBuilder'
    parent: 'prestashop.core.grid.abstract_query_builder'
    arguments:
      - '@prestashop.core.query.doctrine_search_criteria_applicator'
    public: true
